{% extends "base.html" %}
{% set active_page = "new_domain" %}
{% block title %}<title>Create Domain - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">
                    Create Domain
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                    <li class="breadcrumb-item active">New Domain</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-12">
                <form role="form" method="post" action="{{ url_for('domain.user_add') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="card card-outline card-primary shadow">
                        <div class="card-header flex">
                            <h3 class="card-title">Add Domain</h3>
                            <ul class="nav nav-tabs card-header-tabs ml-auto" id="domainTabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#freeDomain" data-toggle="tab">Tạo tên miền miễn
                                        phí</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#customDomain" data-toggle="tab">Thêm tên miền của bạn</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="freeDomain">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="subdomain_name">Sub Domain</label>
                                            <input type="text" class="form-control" name="subdomain_name"
                                                id="subdomain_name"
                                                placeholder="Enter a valid SubDomain name (required)"
                                                oninput="updateFullDomain()">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="selAccount">Domain</label>
                                            <select name="accountid" id="selAccount" class="form-control"
                                                onchange="updateFullDomain()">
                                                <option value="0">- Select Domain -</option>
                                                {% for domain_name in domain_names %}
                                                <option value="{{ domain_name }}">{{ domain_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="domain_name">Full Domain</label>
                                            <input type="text" class="form-control" id="domain_name" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <span id="domain_check_result"></span>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <button type="button" class="btn btn-secondary float-right"
                                                onclick="checkDomainAvailability()">Check
                                                Domain</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="customDomain">
                                    <div class="form-group">
                                        <label for="custom_domain_name">Thêm tên miền của bạn</label>
                                        <input type="text" class="form-control" name="custom_domain_name"
                                            id="custom_domain_name" placeholder="Nhập tên domain của bạn">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <span id="domain_check_result_custom"></span>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <button type="button" class="btn btn-secondary float-right"
                                                onclick="checkDomainAvailability()">Check
                                                Domain</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer ">
                            <button type="button" title="Cancel" class="btn btn-secondary"
                                onclick="window.location.href='{{ url_for('dashboard.dashboard')}}'">
                                <i class="fa-solid fa-window-close"></i>&nbsp;Cancel
                            </button>
                            <button type="submit" title="Create Zone" class="btn btn-primary float-right"
                                id="create_zone_button" disabled>
                                <i class="fa-solid fa-save"></i>&nbsp;Create Zone
                            </button>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
{% endblock %}
{% block extrascripts %}
<script>
    function toggleCustomDomainInput() {
        const customDomainGroup = document.getElementById('customDomainGroup');
        if (customDomainGroup.style.display === 'none') {
            customDomainGroup.style.display = 'block';
        } else {
            customDomainGroup.style.display = 'none';
        }
    }
    function updateFullDomain() {
        const subDomain = document.getElementById('subdomain_name').value;
        const domainSelect = document.getElementById('selAccount');
        const domain = domainSelect.options[domainSelect.selectedIndex].text;
        const fullDomain = subDomain && domain !== '- Select Domain -' ? `${subDomain}.${domain}` : '';
        document.getElementById('domain_name').value = fullDomain;
    }
    function checkDomainAvailability() {
        const fullDomain = document.getElementById('domain_name').value;
        const customDomain = document.getElementById('custom_domain_name').value;
        const resultElement = document.getElementById('domain_check_result');
        const resultElementCustom = document.getElementById('domain_check_result_custom');
        const createButton = document.getElementById('create_zone_button');

        let domainToCheck = fullDomain || customDomain;

        if (!domainToCheck) {
            resultElement.textContent = 'Please enter a valid subdomain and select a domain, or enter your custom domain.';
            return;
        }

        // Show a loading message while checking domain availability
        resultElement.textContent = 'Checking domain availability...';

        // Make an API call to check domain availability
        const url = `{{ url_for('domain.check_domain') }}?domain=${encodeURIComponent(domainToCheck)}`;
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.available) {
                    resultElement.textContent = 'Domain is available.';
                    resultElementCustom.textContent = 'Domain is available.';
                    createButton.disabled = false;
                } else {
                    resultElement.textContent = 'Domain is already in use.';
                    resultElementCustom.textContent = 'Domain is already in use.';
                    createButton.disabled = true;
                }
            })
            .catch(error => {
                console.error('Error checking domain availability:', error);
                resultElement.textContent = 'Error checking domain availability. Please try again later.';
            });
    }
</script>
{% endblock %}